// Заголовки, загальні БЕМ блоки та інше...

.restaurant-info {
	display: flex;
	flex-direction: column;
	& > :nth-child(n) {
		display: flex;
		align-items: center;
		svg {
			width: rem(30);
			max-height: rem(30);
			fill: #d1a954;
		}
		a {
			transition: border-bottom 0.3s ease 0s;
			border-bottom: rem(1) solid transparent;
		}
		@media (any-hover: hover) {
			&:hover {
				a {
					border-bottom: rem(1) solid #000000;
				}
			}
		}
	}
	&__location {
	}

	&__phone {
	}

	&__mail {
	}
}
