._active-border {
	border: rem(1) solid rgba(209, 169, 84, 0.9);
	padding: rem(5) rem(0);
	color: #d1a954;
	// background-color: red;
}
//====================================================================================================
.header {
	@include adaptiveValue('padding-top', 20, 10, 0, 991, 767);
	@include adaptiveValue('padding-bottom', 20, 10, 0, 991, 767);
	// border-bottom: rem(1) solid #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: all 0.1s ease 0s;
	background: #ffffff;
	&._header-scroll {
		box-shadow: rem(0) rem(4) rem(20) rgba(0, 0, 0, 0.1);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue('column-gap', 30, 20, 0, 1110, 991);
	}

	&__logo {
		position: relative;
		z-index: 20;
		img {
			width: rem(52);
			height: rem(52);
		}
	}

	&__menu {
	}
}

.menu {
	&__body {
		@media (max-width: $mobile) {
			display: flex;
			flex-direction: column;
			row-gap: rem(30);
			padding-right: rem(15);
			padding-left: rem(15);
			position: fixed;
			z-index: 15;
			width: 100%;
			height: 100%;
			top: 0;
			right: -100%;
			background: #f8f8f8;
			overflow: auto;
			transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
			&::before {
				content: '';
				position: fixed;
				z-index: 20;
				width: 100%;
				top: 0;
				right: -100%;
				background: #f8f8f8;
				min-height: rem(73);
				transition: right 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
				box-shadow: rem(0) rem(4) rem(20) rgba(0, 0, 0, 0.1);
			}
			.menu-open & {
				right: 0;
				&::before {
					right: 0;
				}
			}
		}
	}
	&__button {
		display: none;
		@media (max-width: $mobile) {
			display: inline-flex;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue('column-gap', 10, 5, 0, 1110, 991);
		row-gap: rem(5);
		flex-wrap: wrap;
		@media (max-width: $mobile) {
			padding-top: rem(100);
			font-size: rem(30);
			flex-direction: column;
			align-items: center;
			row-gap: rem(20);
		}
	}

	&__item {
	}

	&__link {
		@include adaptiveValue('font-size', 13, 12, 0, 991, 780);
		line-height: math.div(16, 13);
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@include adaptiveValue('padding-right', 12.5, 8, 0, 991, 800);
		@include adaptiveValue('padding-left', 12.5, 8, 0, 991, 800);
		padding: rem(5) rem(0);
		border: rem(1) solid transparent;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: #d1a954;
			}
		}
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}

	&__icon {
	}
}
.action-header {
	display: flex;
	align-items: center;
	&__button {
		display: none;
		@media (min-width: $mobile) {
			display: inline-flex;
		}
	}
}
.button {
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 20;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
