//====================================================================================================

.page-main {
}

.main-page {
	@include adaptiveValue('padding-top', 150, 50, 0, 1110, 768);
	@include adaptiveValue('padding-bottom', 250, 100, 0, 1100, 768);
	&__container {
		max-width: rem(1600);
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}

	&__navigation {
	}
	&__button--prev {
		&.swiper-button-prev {
			left: calc(50% - 130px);
			top: 107%;
			&::after {
				color: #000000;
				font-size: rem(20);
				font-weight: 900;
			}
		}
	}

	&__button--next {
		&.swiper-button-next {
			right: calc(50% - 130px);
			top: 107%;
			&::after {
				color: #000000;
				font-size: rem(20);
				font-weight: 900;
			}
		}
	}
	&__pagination {
		bottom: -7% !important;
		& .swiper-pagination-bullet {
			// @include adaptiveValue('bottom', -100, 0, 0, 1800, 1200);
			cursor: default !important;
			margin: 0 !important;
			border-radius: 0;
			width: rem(20);
			height: rem(2.5);
			// border: 1px solid #000000;
			&.swiper-pagination-bullet-active {
				background-color: #000000;
			}
		}
	}
}
.main-page-slider {
	&__wrapper {
		position: relative;
	}
}
.main-page-slide {
	&__wrapper {
		position: relative;
	}
	&__image-ibg {
		padding-bottom: 111%;
	}
	&__desc {
	}
}
.desc-slide {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(209, 169, 84, 0.9);
	padding: rem(15);
	text-align: center;
	&__wrapper {
		border: rem(1) solid rgba(255, 255, 255, 0.5);
		padding: rem(15);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include adaptiveValue('row-gap', 25, 15, 0, 1800, 1100);
	}
	&__title {
		@include adaptiveValue('font-size', 30, 20, 0, 1800, 991);
		line-height: math.div(37, 30);
		text-transform: uppercase;
		color: #ffffff;
	}

	&__text {
		font-size: 14px;
		line-height: 1.35;
		color: #ffffff;
		max-width: rem(250);
	}
}

//====================================================================================================
// ! page about restaurant
.about-restaurant {
	// @include adaptiveValue('padding-top', 500, 300, 1110, 768);
	@include adaptiveValue('padding-bottom', 120, 60, 0, 1110, 991);
	position: relative;
	&__background {
		@media (min-width: $mobileSmall) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 65%;
				background: #f9f7f7;
				transform: translateY(50%);
				z-index: -1;
			}
		}
	}
	&__container {
		// transform: translateY(-35%);
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 80, 60, 0, 1110, 991);
	}

	&__body {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
	}
	&__headline {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(16);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 48, 36, 0, 992, 768);
		}
	}
	&__title {
		font-weight: 300;
		@include adaptiveValue('font-size', 36, 25, 0, 1110, 992);
		line-height: 1.45;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #222222;
	}

	&__logo {
		img {
			width: rem(80);
			height: rem(80);
		}
	}
	&__video-wrapper {
		@media (min-width: $pc) {
			display: flex;
			justify-content: center;
		}
	}
	&__video {
		@extend %responsiveVideo;
		border: rem(10) solid #ffffff;
		filter: drop-shadow(rem(0) rem(0) rem(30) rgba(126, 126, 126, 0.5));
	}
}
.video-restaurant {
	// display: grid;
	// justify-content: center;
	&__item {
	}
}
.about-restaurant {
	&__desc {
	}
}

.desc-restaurant {
	display: grid;
	justify-content: space-between;
	// display: grid;
	@media (min-width: $mobile) {
		grid-template-columns: minmax(rem(250), rem(350)) auto;
	}
	row-gap: rem(40);
	column-gap: rem(40);

	&__advantages {
	}
}
.advantages {
	display: flex;
	flex-direction: column;
	// row-gap: rem(20);
	@include adaptiveValue('row-gap', 20, 12, 0, 767, 600);
	&__body {
		display: grid;
		@media (min-width: $mobile) {
			grid-template-columns: minmax(rem(180), rem(255)) minmax(rem(180), rem(255));
		}

		@include adaptiveValue('column-gap', 50, 20, 0, 1110, 768);
		@include adaptiveValue('row-gap', 40, 30, 0, 1110, 768);
		// row-gap: rem(40);
	}
	&__logo {
		display: none;
		@media (min-width: $mobileSmall) {
			display: inline-block;
			img {
				width: rem(80);
				height: rem(80);
			}
		}
	}
	&__image {
		display: none;
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			column-gap: rem(20);
		}
	}
	&__decor {
		transform: rotate(336deg);
		img {
			@media (max-width: $tablet) {
				max-width: 60%;
			}
		}
	}
	&__picture {
		display: flex;
		align-items: center;
		column-gap: rem(20);
		// img
	}
	&__texts {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	&__text {
		font-weight: 300;
		font-size: rem(14);
		line-height: 1.35;
		color: #616161;
	}

	&__sub-title {
		font-weight: 300;
		font-size: rem(16);
		line-height: 1.35;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}
}

//====================================================================================================
// ! gallery
.gallery {
	@include adaptiveValue('padding-top', 120, 70, 0, 1110, 768);
	@include adaptiveValue('padding-bottom', 150, 70, 0, 1110, 768);
	&__container {
	}

	&__grid {
	}
}
.grid-gallery {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(12, minmax(0, 1fr));
	@include adaptiveValue('gap', 30, 10, 0, 768, 500);
	@media (max-width: $mobile) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}

	a {
		img {
			max-width: 100%;
		}
	}
	&__reserve {
		display: none;
		@media (max-width: em(600)) {
			display: inline-block;
		}
	}
	&__element {
		&--1 {
			grid-row: span 4 / span 3;
			grid-column: span 3;
		}
		&--2 {
			grid-row: span 4;
			grid-column: 4 / span 5;
		}
		&--3 {
			grid-row: span 4;
			grid-column: 9 / span 4;
		}
		&--4 {
			grid-row: span 8;
			grid-column: 1 / span 7;
		}
		&--5 {
			grid-row: span 4;
			grid-column: 8 / span 5;
		}
		&--6 {
			grid-row: span 4;
			grid-column: 8 / span 5;
		}
		@media (max-width: em(600)) {
			&--1 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--2 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--3 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--4 {
				grid-row: span 8;
				grid-column: span 12;
			}
			&--5 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--6 {
				grid-row: span 4;
				grid-column: span 6;
			}
		}
	}
	&__headline {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue('row-gap', 25, 10, 0, 479, 340);
		h2 {
			font-weight: 300;
			@include adaptiveValue('font-size', 24, 16, 0, 1110, 768);
			line-height: 1.35;
			text-transform: uppercase;
		}
		img {
			width: rem(50);
			height: rem(50);
			@media (min-width: em(550)) {
				width: rem(80);
				height: rem(80);
			}
		}
	}

	&__image {
	}

	&__preview {
	}
}

//====================================================================================================
