//====================================================================================================

.page-main {
}

.main-page {
	@include adaptiveValue('padding-top', 150, 50, 0, 1110, 768);
	@include adaptiveValue('padding-bottom', 250, 100, 0, 1100, 768);
	&__container {
		max-width: rem(1600);
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
	}

	&__navigation {
	}
	&__button--prev {
		&.swiper-button-prev {
			left: calc(50% - 130px);
			top: 107%;
			&::after {
				color: #000000;
				font-size: rem(20);
				font-weight: 900;
			}
		}
	}

	&__button--next {
		&.swiper-button-next {
			right: calc(50% - 130px);
			top: 107%;
			&::after {
				color: #000000;
				font-size: rem(20);
				font-weight: 900;
			}
		}
	}
	&__pagination {
		bottom: -7% !important;
		& .swiper-pagination-bullet {
			// @include adaptiveValue('bottom', -100, 0, 0, 1800, 1200);
			cursor: default !important;
			margin: 0 !important;
			border-radius: 0;
			width: rem(20);
			height: rem(2.5);
			// border: 1px solid #000000;
			&.swiper-pagination-bullet-active {
				background-color: #000000;
			}
		}
	}
}
.main-page-slider {
	&__wrapper {
		position: relative;
	}
}
.main-page-slide {
	&__wrapper {
		position: relative;
	}
	&__image-ibg {
		padding-bottom: 111%;
	}
	&__desc {
	}
}
.desc-slide {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(209, 169, 84, 0.9);
	padding: rem(15);
	text-align: center;
	&__wrapper {
		border: rem(1) solid rgba(255, 255, 255, 0.5);
		padding: rem(15);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include adaptiveValue('row-gap', 25, 15, 0, 1800, 1100);
	}
	&__title {
		@include adaptiveValue('font-size', 30, 20, 0, 1800, 991);
		line-height: math.div(37, 30);
		text-transform: uppercase;
		color: #ffffff;
	}

	&__text {
		font-size: 14px;
		line-height: 1.35;
		color: #ffffff;
		max-width: rem(250);
	}
}

//====================================================================================================
// ! page about restaurant
.about-restaurant {
	// @include adaptiveValue('padding-top', 500, 300, 1110, 768);
	@include adaptiveValue('padding-bottom', 120, 60, 0, 1110, 991);
	position: relative;
	&__background {
		@media (min-width: $mobileSmall) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 65%;
				background: #f9f7f7;
				transform: translateY(50%);
				z-index: -1;
			}
		}
	}
	&__container {
		// transform: translateY(-35%);
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 80, 60, 0, 1110, 991);
	}

	&__body {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
	}
	&__headline {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(16);
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 48, 36, 0, 992, 768);
		}
	}
	&__title {
		font-weight: 300;
		@include adaptiveValue('font-size', 36, 25, 0, 1110, 992);
		line-height: 1.45;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #222222;
	}

	&__logo {
		img {
			width: rem(80);
			height: rem(80);
		}
	}
	&__video-wrapper {
		@media (min-width: $pc) {
			display: flex;
			justify-content: center;
		}
	}
	&__video {
		@extend %responsiveVideo;
		border: rem(10) solid #ffffff;
		filter: drop-shadow(rem(0) rem(0) rem(30) rgba(126, 126, 126, 0.5));
	}
}
.video-restaurant {
	// display: grid;
	// justify-content: center;
	&__item {
	}
}
.about-restaurant {
	&__desc {
	}
}

.desc-restaurant {
	display: grid;
	justify-content: space-between;
	// display: grid;
	@media (min-width: $mobile) {
		grid-template-columns: minmax(rem(250), rem(350)) auto;
	}
	row-gap: rem(40);
	column-gap: rem(40);

	&__advantages {
	}
}
.advantages {
	display: flex;
	flex-direction: column;
	// row-gap: rem(20);
	@include adaptiveValue('row-gap', 20, 12, 0, 767, 600);
	&__body {
		display: grid;
		@media (min-width: $mobile) {
			grid-template-columns: minmax(rem(180), rem(255)) minmax(rem(180), rem(255));
		}

		@include adaptiveValue('column-gap', 50, 20, 0, 1110, 768);
		@include adaptiveValue('row-gap', 40, 30, 0, 1110, 768);
		// row-gap: rem(40);
	}
	&__logo {
		display: none;
		@media (min-width: $mobileSmall) {
			display: inline-block;
			img {
				width: rem(80);
				height: rem(80);
			}
		}
	}
	&__image {
		display: none;
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			column-gap: rem(20);
		}
	}
	&__decor {
		transform: rotate(336deg);
		img {
			@media (max-width: $tablet) {
				max-width: 60%;
			}
		}
	}
	&__picture {
		display: flex;
		align-items: center;
		column-gap: rem(20);
		// img
	}
	&__texts {
		display: flex;
		flex-direction: column;
		row-gap: rem(16);
	}

	&__text {
		font-weight: 300;
		font-size: rem(14);
		line-height: 1.35;
		color: #616161;
	}

	&__sub-title {
		font-weight: 300;
		font-size: rem(16);
		line-height: 1.35;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}
}

//====================================================================================================
// ! gallery
.gallery {
	@include adaptiveValue('padding-top', 120, 70, 0, 1110, 768);
	@include adaptiveValue('padding-bottom', 150, 70, 0, 1110, 768);
	&__container {
	}

	&__grid {
	}
}
.grid-gallery {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(12, minmax(0, 1fr));
	@include adaptiveValue('gap', 30, 10, 0, 768, 500);
	@media (max-width: $mobile) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
	}
	&:nth-child(n + 1) {
		img {
			cursor: zoom-in;
		}
	}
	a {
		img {
			max-width: 100%;
		}
	}
	&__reserve {
		display: none;
		@media (max-width: em(600)) {
			display: inline-block;
		}
	}
	&__element {
		&--1 {
			grid-row: span 4 / span 3;
			grid-column: span 3;
		}
		&--2 {
			grid-row: span 4;
			grid-column: 4 / span 5;
		}
		&--3 {
			grid-row: span 4;
			grid-column: 9 / span 4;
		}
		&--4 {
			grid-row: span 8;
			grid-column: 1 / span 7;
		}
		&--5 {
			grid-row: span 4;
			grid-column: 8 / span 5;
		}
		&--6 {
			grid-row: span 4;
			grid-column: 8 / span 5;
		}
		@media (max-width: em(600)) {
			&--1 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--2 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--3 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--4 {
				grid-row: span 8;
				grid-column: span 12;
			}
			&--5 {
				grid-row: span 4;
				grid-column: span 6;
			}
			&--6 {
				grid-row: span 4;
				grid-column: span 6;
			}
		}
	}
	&__headline {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include adaptiveValue('row-gap', 25, 10, 0, 479, 340);
		h2 {
			font-weight: 300;
			@include adaptiveValue('font-size', 24, 16, 0, 1110, 768);
			line-height: 1.35;
			text-transform: uppercase;
		}
		img {
			width: rem(50);
			height: rem(50);
			@media (min-width: em(550)) {
				width: rem(80);
				height: rem(80);
			}
		}
	}

	&__image {
	}

	&__preview {
	}
}

//====================================================================================================
// ! social-media
.social-media {
	@include adaptiveValue('padding-top', 80, 60, 0, 768, 479);
	@include adaptiveValue('padding-bottom', 95, 70, 0, 768, 479);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../img/social-media/background.jpg') 50% / cover no-repeat fixed;
	@supports (-webkit-touch-callout: none) {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/social-media/background.jpg') center center / cover no-repeat scroll;
		background-size: auto 60vh;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiveValue('row-gap', 75, 40, 0, 1110, 768);
	}

	&__title {
		font-weight: 500;
		@include adaptiveValue('font-size', 36, 16, 0, 700, 320);
		line-height: 1.45;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #ffffff;
	}

	&__icons {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue('row-gap', 30, 10, 0, 768, 320);
		@include adaptiveValue('column-gap', 80, 20, 0, 768, 320);
		svg {
			@include adaptiveValue('width', 60, 40, 0, 768, 479);
			@include adaptiveValue('height', 60, 40, 0, 768, 479);
			fill: #d1a954;
			transition: transform 0.3s ease 0s;
		}
		a {
			@media (any-hover: hover) {
				&:hover {
					svg {
						transform: scale(1.15);
					}
				}
			}
		}
	}
	&__icon {
		@include adaptiveValue('padding-top', 25, 15, 0, 768, 479);
		@include adaptiveValue('padding-right', 25, 15, 0, 768, 479);
		@include adaptiveValue('padding-bottom', 25, 15, 0, 768, 479);
		@include adaptiveValue('padding-left', 25, 15, 0, 768, 479);
		background: rgba(37, 7, 54, 0.8);
		border: rem(3) solid rgba(209, 169, 84, 0.9);
		border-radius: rem(15);
	}
}

//====================================================================================================
// !Сontacts

.contacts {
	@include adaptiveValue('padding-top', 120, 70, 1110, 768);
	@include adaptiveValue('padding-bottom', 120, 70, 1110, 768);
	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: rem(30);
		@media (max-width: $mobile) {
			flex-direction: column;
			@include adaptiveValue('row-gap', 50, 30, 0, 600, 479);
			align-items: stretch;
		}
	}

	&__body {
		flex: 0 1 percent(477, $maxWidthContainer);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include adaptiveValue('row-gap', 56, 30, 0, 1110, 768);
	}
	&__form {
		flex: 0 1 percent(540, $maxWidthContainer);
	}

	&__headline {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 40, 20, 0, 1110, 768);
	}

	&__title {
		font-weight: 300;
		@include adaptiveValue('font-size', 36, 22, 0, 1110, 600);
		line-height: 1.45;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}

	&__desc {
		font-weight: 300;
		font-size: rem(14);
		line-height: 1.35;
		color: #616161;
	}

	&__location {
	}
}
.location-rastaurant {
	display: flex;
	flex-direction: column;
	@include adaptiveValue('row-gap', 30, 20, 0, 1110, 768);
	&__title {
		font-size: rem(16);
		line-height: 1.35;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
	}

	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('row-gap', 25, 15, 0, 768, 500);
		& > :nth-child(n) {
			display: flex;
			align-items: center;
			column-gap: rem(30);
			svg {
				width: rem(30);
				max-height: rem(30);
				fill: #d1a954;
			}
			a {
				transition: border-bottom 0.3s ease 0s;
				border-bottom: rem(1) solid transparent;
			}
			@media (any-hover: hover) {
				&:hover {
					a {
						border-bottom: rem(1) solid #000000;
					}
				}
			}
		}
	}

	&__location {
	}

	&__phone {
	}

	&__mail {
	}
}
.form-contacts {
	@media (max-width: $mobile) {
		padding-right: rem(5);
		padding-left: rem(5);
	}
	&__column {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 35, 20, 0, 800, 600);
		}
	}
	&__button {
		@include adaptiveValue('font-size', 20, 16, 0, 768, 479);
		@media (max-width: $mobile) {
			width: 100%;
		}
		padding-top: rem(11);
		padding-bottom: rem(11);
		font-weight: 500;
		font-size: rem(16);
		line-height: 1.35;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #ffffff;
		min-width: rem(181);
	}

	&__line {
		width: 100%;
		textarea {
			width: 100%;
			padding: rem(15) rem(15) rem(15) rem(20);
			border: rem(0.5) solid #d0d0d0;
			resize: none;
			padding: 0.875rem 1.0625rem;
			min-height: rem(196);
		}
		&:nth-child(2) {
			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 35, 25, 0, 991, 768);
			}
		}
	}
}
.input {
}
.button {
}

//====================================================================================================
// ! Instagram gallery
.our-instagram {
	position: relative;
	@include adaptiveValue('padding-top', 125, 50, 0, 1110, 479);
	@include adaptiveValue('padding-bottom', 150, 80, 0, 1110, 479);
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		min-height: 50%;
		background: #f9f7f7;
		z-index: -1;
	}
	&__container {
		display: flex;
		justify-content: center;
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 50, 30, 0, 1110, 768);
		}
	}

	&__headline {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		row-gap: rem(16);
		svg {
			fill: #d1a954;
			width: rem(40);
			height: rem(40);
			transition: transform 0.3s ease 0s;
		}
	}
	&__link {
		padding: rem(15);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: rgba(37, 7, 54, 0.8);
		border: rem(2) solid rgba(209, 169, 84, 0.9);
		border-radius: rem(10);
		@media (any-hover: hover) {
			&:hover {
				svg {
					transform: scale(1.1);
				}
			}
		}
	}
	&__title {
		font-weight: 300;
		@include adaptiveValue('font-size', 36, 24, 0, 768, 479);
		line-height: 1.45;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #222222;
	}

	&__gallery {
	}
}
.gallery-instagram {
	&__grid {
		display: grid;
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $pc) {
			grid-template-columns: repeat(6, 1fr);
		}
		@media (max-width: $mobileSmall) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
.gallery-instagram {
	&__image-ibg {
		padding-bottom: 97.745%;
	}
	&__preview {
	}
}

//====================================================================================================
